#myContainer {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
  }
  #myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(0, 4, 255);
  }